.form-container {
    background-color: white;
    border: 2px solid grey;
    border-radius: 15px;
    height: auto;
    padding: 2rem;
    box-shadow: 5px 6px 15px #888888;
    width: 30%;
    position: fixed;

}

.form-container p {
    width: 100%;
    letter-spacing: 3px;
    border-radius: 8px;
    font-size: 18px;
    padding: 1rem;
    background-color: #98FB98;
    color: black;
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* change color when cursor is in the button */
.form-container p:hover {
    background-color: #00A86B;
}

.form-container input[type="submit"] {
    width: 120px;
    margin-left: 35px;
    display: block;
}

input[type="number"] {
    width: 100%;
    letter-spacing: 3px;
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 12px 20px;
    background-color: rgb(229, 175, 202);
  }
